body {
	transform: scale(0.77);
	width: 121%;
	margin-top: -100px;
	background: #FFFFFF;
	padding: 0;
	margin-left: -90px;
}

.meta_wrap {
	margin-top: 10px;
}

.hShadow, .header {
	display: none;
}

.shadow {
	box-shadow: 1px 1px 6px 4px #cccccc;
}

.circle {
	width: 13%;
	min-width: 50px;
	border-radius: 100%;
	margin: 0;
	content:url('Photo.jpg');
}

.circle::before {
    padding-top: calc(40% - -29%);
}

.part {
    padding-bottom: 31%;
}

.main-title {
	display: block;
	float: right;
	text-align: right;
	color: #777;
}

.main-title h1 {
	color: #777;
	font-size: 23px;
	margin: 5px 0 10px 0;
}

.main-title a {
	color :#67B5E4;
}

.meta {
	text-shadow: none;
	font-size: 15pt;
}

h3, h4, .techno p {
	text-shadow: 1px 1px 1px #CCCCCC;
}

.block {
	width: 100%;
}

h2 {
	margin-top: 15px;
	margin-bottom: 8px;
	font-size: 1.2em;
}

.work, .project_wrap img {
	margin: 8px;
}

.job {
	padding: 8px;
}

p {
	font-weight: 100;
	margin-bottom: 0;
}

.project_wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-align-items: left;
	align-items: left;
	-webkit-justify-content: center;
	justify-content: center;

	position: absolute;
	bottom: -110px;
	padding: 0 13px;
}
.project {
	align-items: left;
	-webkit-justify-content: left;
	justify-content: left;
}