body{
	display:block;
	padding: 0;
	margin: 0;
	padding-bottom: 50px;
	height:100%;
	width:100%;
	text-align:center;

	background:#F2F2F0;

	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;

	color:#777777;
}

.main-title {
	display: none;
}

.hShadow{
	background: -webkit-linear-gradient( rgba(70,70,70,0.5) , transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( rgba(70,70,70,0.5) , transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( rgba(70,70,70,0.5) , transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient( rgba(70,70,70,0.5) , transparent); /* Standard syntax */

  height:20px;
  position:fixed;
  top:0;
  width:100%	;
}

.block {
	width:60%;
	margin:0 auto;
}

.meta{

	font-size:18pt;
	text-align:justify;

	text-shadow: 2px 2px 1px #CCCCCC;

	margin-top: 0;
}

.circle{
	margin:20px auto;
	display:block;
	width: 20%;
	min-width: 450px;

	border-radius:100%;
	font-size:20px;
	text-align:center;

	overflow: hidden;

	background: #FFFFFF no-repeat;
	background-position: top center;
	background-image: url('Photo.jpg');
	background-size: auto 75%;

}

.circle:before{
	content: "";
	display: block;
	padding-top: calc(100% - 49%);
}
.part{
	display:block;
	width:100%;
	padding-bottom:15%;
	background: #00CC99;
}

.bubbles{
	width:100%;
	margin:0 auto;
}

.bubble{
	margin-right: 10px;

	position: relative;
}

.bubble, .subbubble{
	width:50px;
	height:50px;
	display:inline-block;
	/*background: #555555;*/
	background: no-repeat;
	background-size: 100%;
}
.bubble:last{
	margin-right: 0;
}

.bubble span{
	display: block;
	transition-duration: 0.2s;
	transition-property: opacity;
	position:absolute;
}


.btnh{
	opacity: 0;
}
.btnh:hover{
	opacity: 1;
}


.github{
	background-image: url('img/gh.png');
}

.githubh{
	background-image: url('img/ghh.png');
}

.mail{
	background-image: url('img/mail.png');
}
.mailh{
	background-image: url('img/mailh.png');
}

.cg{
	background-image: url('img/cg.png');
}

.in{
	background-image: url('img/in.png');
}

.cgh{
	background-image: url('img/cgh.png');
}

.inh{
	background-image: url('img/inh.png');
}

h1{
	white-space: nowrap;
	margin-top:40px;
	padding-top:5px;

	font-weight: 400;
	color:#333333;
}
h2 {
	font-weight: 400;
	margin-top: 30px;
	margin-bottom: 10px;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #cccccc;
  -webkit-box-shadow: 3px 3px 5px 6px #cccccc;
  box-shadow:         3px 3px 5px 6px #cccccc;
}

a, a:hover, a:visited{
	color:#555555;
}

.technologies {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
.techno {
	flex: 1;
	margin: 10px;
}

.techno img {
	width: auto;
	height: 90px;
}

.techno p {
	margin: 0;
	white-space: nowrap;
	text-shadow: 2px 2px 1px #CCCCCC;
}

.job {
	text-align: left;
	padding: 10px;
}
.job p {
	margin: 0;
}

h3 {
	margin: 3px 0;
	font-size: 14px;
	font-weight: 600;
}
h4 {
	margin: 3px 0;
	font-size: 12px;
	font-weight: 300;
}

.work_wrap, .project_wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	-webkit-align-items: left;
	align-items: left;
	-webkit-justify-content: center;
	justify-content: center;
}
.work, .project {
	flex: 1;

	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;

	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

.work img, .project img {
	height: 70px;
	width: auto;
	margin: 10px;
	border-radius: 4px;
}

h3, h4 {
	text-shadow: 2px 2px 1px #CCCCCC;
}

.dot {
	margin-left: 6px;
	margin-right: 3px;
}

.locale-level {
	margin-left: 4px;
	font-weight: 100;
}

.hr {
	width: 20%;
	margin: 8px auto;
	border-top: solid 1px #CCCCCC;
}